<li class="nav-item active">
            <%= link_to "Home", dashboard_path, class: "nav_link" %> <%# redirects to home page %>
          </li><div>&nbsp;&nbsp;</div>

          <% if current_user.roll == "HR" %>
          <li class="nav-item">
            <%= link_to "Add Job", new_job_path, class: "nav_link" %> <%# redirects to new post page which allows to upload post %>
          </li><div>&nbsp;&nbsp;</div>
          <% end %>
          
          <li class="nav-item">
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav_link" %> <%# Sign out the user and redirects to the homepage %>
          </li>