<li class="nav-item active">
            <%= link_to "Home", new_user_session_path, class: "nav_link" %>
          </li><div>&nbsp;&nbsp;</div>
          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path, class: "nav_link" %> 
          </li>